<div class="d-flex justify-content-around ml-4 mr-4">
  <button class="btn btn-info" (click)="menuChange('how')">How</button>
  <button class="btn btn-info" (click)="menuChange('favour')">Favours</button>
  <button class="btn btn-info" (click)="menuChange('ask')">Ask</button>
  <button class="btn btn-info" (click)="menuChange('answer')">Answer</button>
  <button class="btn btn-info" (click)="menuChange('profile')">Profile</button>
  <button class="btn btn-info" (click)="logout();" title="LOGOUT" >X</button>
</div>
<br>
