<div class="container py-3">
  <div class="row">
    <div class="mx-auto col-sm-6 m-2">
      <!-- form user info -->
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">Ask a New Favour</h4>
        </div>
        <form [formGroup]="askForm" (ngSubmit)="onAskSubmit()" autocomplete="off">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-4 col-form-label form-control-label">Username</label>
              <div class="col-md-8">
                <input class="form-control" type="text" formControlName="username">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label form-control-label">Type of Favour</label>
              <div class="col-md-8">
                <select #selectElem (change)="setOption(selectElem.value)">
                  <option *ngFor="let favType of localDes[0]" [value]="favType">
                    {{favType}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label form-control-label">Reward</label>
              <div class="col-md-8">
                <input class="form-control" type="text" formControlName="username">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-12 col-form-label form-control-label">Describe the Favour or Question you like an
                answer to.</label>
              <div class="col-md-12">
                <textarea class="col-md-12">

                </textarea>
              </div>
            </div>
          </div>
        </form>
        <div class="card-footer">
          <button class='btn btn-success'>Create</button>
        </div>
      </div>
      <!-- /form user info -->
    </div>
  </div>
</div>
